<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>OpenclawDaddy</string>
    <key>CFBundleDisplayName</key>
    <string>OpenclawDaddy</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>NSCameraUsageDescription</key>
    <string>OpenclawDaddy needs camera access for openclaw processes.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>OpenclawDaddy needs microphone access for openclaw processes.</string>
    <key>NSLocationUsageDescription</key>
    <string>OpenclawDaddy needs location access for openclaw processes.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 Wordgate. All rights reserved.</string>
</dict>
</plist>
